{% extends 'base.html' %}
{% block title %}About me - 蒙奇&bull;D&bull;Hearain {% endblock %}
{% block beforehead %}
<link rel="stylesheet" href="/static/editor.md/css/editormd.preview.min.css" />
<link type="text/css" rel="stylesheet" href="/static/css/katex.min.css" />
<link type="text/css" rel="stylesheet" href="/static/editor.md/lib/codemirror/codemirror.min.css" />
<link type="text/css" rel="stylesheet" href="/static/editor.md/css/editormd.css" />
<link rel="stylesheet" href="/static/highlight/styles/monokai.css" />
<link rel="stylesheet" href="/static/css/editor_md.css" />
<script type="text/javascript" src="/static/highlight/highlight.pack.js"></script>
<script type="text/javascript" src="/static/editor.md/lib/codemirror/codemirror.min.js"></script>
<!--<script type="text/javascript" src="/static/js/katex.min.js"></script>-->
<script src="/static/editor.md/lib/marked.min.js"></script>
<script src="/static/editor.md/lib/prettify.min.js"></script>
<script src="/static/editor.md/lib/raphael.min.js"></script>
<script src="/static/editor.md/lib/underscore.min.js"></script>
<script src="/static/editor.md/lib/sequence-diagram.min.js"></script>
<script src="/static/editor.md/lib/flowchart.min.js"></script>
<script src="/static/editor.md/lib/jquery.flowchart.min.js"></script>
<script src="/static/editor.md/editormd.js"></script>
{% endblock %}
{% block content %}
    <div class="ui grid container" style="margin-top:20px;">
        {% block middle %}
        <div class="editormd-preview editormd-preview-theme-dark" style="display: block;">
            <div id="editormd-view" class="content editormd-preview-container">
              <textarea id="append-view" style="display:none;">{{ content }}</textarea>
            </div>
        </div>
        {% endblock %}
    </div>
<script type="text/javascript">
        $(function() {
            var EditormdView;

            EditormdView = editormd.markdownToHTML("editormd-view", {
                    htmlDecode      : "style,script,iframe",  // you can filter tags decode
                    emoji           : true,
                    taskList        : true,
                    tex             : true,  // 默认不解析
                    flowChart       : true,  // 默认不解析
                    sequenceDiagram : true,  // 默认不解析
                    previewCodeHighlight: true
                });
        });

        //初始化hightlight插件
        hljs.initHighlightingOnLoad();
</script>
{% endblock %}